.home-latest {
    box-sizing: border-box;
    padding: 0;
}

.home-latest .article .image-cover {
    position: relative;
    background-size: cover !important;
    height: 200px;
}

.home-latest .article .description {
    position: absolute;
    bottom: 0;
}

.home-latest .article .description span {
    background: #00BCD4;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
}

.home-latest .article .description div {
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    background: rgba(50, 50, 50, 0.6);
    width: 40%;
}